<tool-bar></tool-bar>

<div class="ayuda-finder">
  <div class="ayuda-header " layout="row" layout-align="center center"><h1 class="md-display-2">Ayuda & Aprendizaje de ColorFinder</h1></div>

  <div class=""  layout-xs="column" layout="row" layout-align="center center">

    <md-button ng-href="#/servicios/ayuda/tutorial" class="tuto md-whiteframe-1dp"  flex>

      <img src="/img/tutoriales.svg" alt="">
      <h2 class="md-display-1">Tutoriales</h2>
    </md-button>
    <md-button ng-href="#/servicios/ayuda/tutorial-movil" class="tuto-movil md-whiteframe-1dp"  flex>

      <img src="/img/tutoriales.svg" alt="">
      <h2 class="md-display-1">Tutoriales</h2>
    </md-button>

    <md-button ng-href="#/servicios/ayuda/faqs" class="faqs md-whiteframe-1dp" flex>

      <img src="/img/faqs.svg" alt="">
      <h2 class="md-display-1">Preguntas <br>Frecuentes</h2>
    </md-button>
  </div>
</div>
