<tool-bar></tool-bar>



<div class="content-cartilla" layout="row" data-ng-controller="MeCtrl">
<!--cartillas-->

<div layout="row" layout-wrap flex ng-cloak ng-controller="HomeCtrl">
  <!--lineas-buttons-->
  <md-tooltip layout="row" layout-align="center center" md-autohide="false" md-direction="right"	 style="height: 50px;">
    <div layout="row" >
      <md-icon md-svg-icon="img/icons/arrows.svg"></md-icon>
      <h3>Selecciona una cartilla <br> para ver los colores.</h3>
    </div>
  </md-tooltip>
   <div class="scrolling" flex="">

  <cartillas-button></cartillas-button>

   </div>
   	<!--end-lineas-buttons-->
</div>
<!--end-cartillas-->

<!--COLORES-->

<div ng-controller="BottomSheetExample" class="paleta md-padding bottomSheetdemoBasicUsage cajon" ng-cloak flex-xs="100" flex="60">
<!--CHIPS COLORES-->

<div class="" layout-align="space-around" ng-controller="capturaCtrl">

  <div layout="column" layout-align="center center" class="inicioFinder md-whiteframe-1dp">
    <img  src="img/LOGO-FINDER.svg" alt="">
    <br>
    <div layout="row" layout-align-"center center">
      <span flex="15"></span>
    <h4  flex="70">ColorFinder es un asistente que te ayudara a buscar colores con su respectiva información, los cuales solo Pinturas la Paleta te puede ofrecer.</h4>
    <span flex="15"> </span>
  </div>

  </div>


  <div class="ayuda"  layout-xs="column" layout="row" layout-align="center center">

    <md-button class="tutoInicio md-whiteframe-1dp"  flex>

      <img src="/img/tutoriales.svg" alt="">
      <h5 class="md-title">Tutoriales</h5>
    </md-button>

    <md-button ng-href="#/servicios/ayuda/faqs" class="faqsInicio md-whiteframe-1dp" flex>
      <img src="/img/faqs.svg" alt="">
      <h5 class="md-title">Preguntas <br>Frecuentes</h5>
    </md-button>
  </div>




    </div>

</div>
<!--CHIPS COLORES-->

</div>
<!--END-COLORES-->


</div>
