<div ng-controller="BottomSheetExample" class="paleta md-padding bottomSheetdemoBasicUsage" ng-cloak="" flex>

  <div class="" layout-align="space-around">


  <div ng-repeat="chip in colores | limitTo: 100 "  id="paleta" layout="row" layout-wrap layout-align="space-around start" >

    <div ng-click="showListBottomSheet($event)">{{ chip.codigo }}</div>
  </div>
  <div id="paleta" layout="row" layout-wrap layout-align="space-around start">
    <div >one</div>
    <div>two</div>
    <div>three</div>
    <div>four</div>
  </div>
  <div id="paleta" layout="row" layout-wrap layout-align="space-around start">
    <div >one</div>
    <div>two</div>
    <div>three</div>
    <div>four</div>
  </div>
  <div id="paleta" layout="row" layout-wrap layout-align="space-around start">
    <div >one</div>
    <div>two</div>
    <div>three</div>
    <div>four</div>
  </div>
  <div id="paleta" layout="row" layout-wrap layout-align="space-around start">
    <div >one</div>
    <div>two</div>
    <div>three</div>
    <div>four</div>
  </div>

  </div>

  <script type="text/ng-template" id="ficha.html" >
    <md-bottom-sheet layout="column" class="md-grid "   ng-cloak>
      <div layout="row" layout-align="center center">

        <div class="fichaRoseta ficha" layout-align="center center" layout="row" flex>
          <div class="circulo">{{color.codigo}}</div>

        </div>
        <div class="fichaInfo ficha" flex></div>
        <div class="fichaBotones ficha" flex></div>
      </div>
    </md-bottom-sheet>
  </script>

</div>
