<div class="content-cartilla"  layout="row">
  <!--cartillas-->

  <div class="cajon" id="lineas" layout="row" layout-wrap ng-cloak flex>
    <!--lineas-buttons-->
     <div class="scrolling" flex="">
       <md-card-actions style="color:white;" layout="column" layout-align="">

         <md-button href="/#/DOMESTIC"  class="lineas {{cartillas | lowercase}}">
          <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Dometic</a>
         </md-button>

         <md-button href="/#/SOLID"  class="lineas {{cartillas | lowercase}}">
          <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Solid</a>
         </md-button>
         <md-button href="/#/DOMESTIC"  class="lineas {{cartillas | lowercase}}">
          <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Dometic</a>
         </md-button>

         <md-button href="/#/SOLID"  class="lineas {{cartillas | lowercase}}">
          <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Solid</a>
         </md-button>

         <md-button href="/#/SOLID"  class="lineas {{cartillas | lowercase}}">
          <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Solid</a>
         </md-button>

         <md-button href="/#/SOLID"  class="lineas {{cartillas | lowercase}}">
          <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Solid</a>
         </md-button>

         <md-button href="/#/SOLID"  class="lineas {{cartillas | lowercase}}">
          <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Solid</a>
         </md-button>

         <md-button href="/#/SOLID"  class="lineas {{cartillas | lowercase}}">
          <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Solid</a>
         </md-button>


      </md-card-actions>


     </div>
      <!--end-lineas-buttons-->
  </div>
  <!--end-cartillas-->

<div ng-controller="BottomSheetExample" class="paleta md-padding bottomSheetdemoBasicUsage" ng-cloak flex>

  <div class="" layout-align="space-around">


  <div ng-repeat="chip in colores | limitTo: 4 "  id="paleta" layout="row" layout-wrap layout-align="space-around start" >

    <div href="/#{{chip.codigo}}" ng-click="showListBottomSheet($event)">{{ chip.codigo }}</div>

  </div>
  <div id="paleta" layout="row" layout-wrap layout-align="space-around start">
    <div >one</div>
    <div>two</div>
    <div>three</div>
    <div>four</div>
  </div>
  <div id="paleta" layout="row" layout-wrap layout-align="space-around start">
    <div >one</div>
    <div>two</div>
    <div>three</div>
    <div>four</div>
  </div>
  <div id="paleta" layout="row" layout-wrap layout-align="space-around start">
    <div >one</div>
    <div>two</div>
    <div>three</div>
    <div>four</div>
  </div>
  <div id="paleta" layout="row" layout-wrap layout-align="space-around start">
    <div >one</div>
    <div>two</div>
    <div>three</div>
    <div>four</div>
  </div>



  </div>



</div>
</div>
