
<!-- login -->
<div align="center" class="login">
  <div class="ribbon"></div>

<div align="center" ng-controller="DemoCtrl" layout="column" layout-padding ng-cloak class="login-box">
  <img class="logo-finder" src="img/LOGO-FINDER.SVG" alt="">
  <md-content>
    <form action="" class="login-form">
      <md-input-container class="md-icon-float md-block">
        <label>Email</label>
        <md-icon md-svg-src="img/icons/email-icon.svg" ></md-icon>
        <input type="email">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Contraseña</label>
        <md-icon md-svg-src="img/icons/password-icon.svg" ></md-icon>
        <input type="password" >
      </md-input-container>
      <md-button class="md-warn md-raised md-hue-2">Acceder</md-button>
    </form>
  </md-content>
  <p>¿Olvidaste tu Contraseña?</p>

</div>
<img class="logo-paleta" src="img/icons/paletaLogo-icon.svg" alt="">
</div>
<!--end login-->
