<div align="center" class="login"  data-ng-controller="MeCtrl" >
  <!-- <div class="ribbon"></div> -->
  <tool-bar></tool-bar>

<div align="center"  layout="column"  ng-controller="HomeCtrl"  ng-show="showAll" layout-padding ng-cloak class="login-box">
  <h1>Nuevo usuario</h1>
  <md-content>

    <form autocomplete="off" role="form" class="login-form"  ng-submit="signup()">
      <p class="errorMessage">{{successFull.mensaje}}</p>
      <md-input-container class="md-icon-float md-block">
        <label>nombre</label>
        <md-icon md-svg-src="img/icons/user-icon.svg" ></md-icon>
        <input type="text" id="nombre" ng-model="username"required>
      </md-input-container>
      <md-input-container class="md-icon-float md-block">
        <label>Roll</label>
          <md-icon md-svg-src="img/icons/rol-icon.svg" ></md-icon>
          <md-select name="type" ng-model="roll" ng-required="true">
            <md-option value="administrador">administrador</md-option>
            <md-option value="tienda">tienda</md-option>
            <md-option value="colorista">colorista</md-option>
            <md-option value="freelance">freelance</md-option>
            <md-option value="moderador">moderador</md-option>
          </md-select>
      </md-input-container>
      <md-input-container class="md-icon-float md-block">
        <label>Email</label>
        <md-icon md-svg-src="img/icons/email-icon.svg" ></md-icon>
        <input type="email" id="email" ng-model="email" required>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Contraseña</label>
        <md-icon md-svg-src="img/icons/password-icon.svg" ></md-icon>
        <input type="password" id="password" ng-model="password" required>
          <p class="errorMessage">{{errorSignup}}</p>
      </md-input-container>

      <md-button  type="submit" class="md-warn md-raised md-hue-2">Crear Usuario</md-button>
    </form>

  </md-content>


</div>
</div>
