<tool-bar></tool-bar>

<div class="tutorial" layout="column" >

  <!-- <div ng-repeat="item in items" layout="row">
    <div class="tutorial-texto" flex>
      <h3>{{item.titulo}}</h3>
      <article>
        {{item.descripcion}}
      </article>
    </div>
    <div flex>

    </div>

  </div>
 -->
 <div class="tutorial-portada" layout="row" layout-xs="column" layout-sm="column">
   <div class="tutorial-portada-letras" flex="40">
     <h1 class="md-display-3">Tutorial <br>
        Funciones Básicas<br>
        ColorFinder
     </h1>
   </div>
   <div class="tutorial-portada-banner" flex="60">
     <img src="/img/tuto/mac-finder.png" alt="">
   </div>

 </div>
 <md-divider></md-divider>
 <div  layout="row" layout-xs="column" layout-sm="column">
   <div class="tutorial-texto" flex>
     <h3>Cartillas y Abanicos de color</h3>
     <br>
     <article>
       Acá podrás ver todas las cartillas o categorías de color, para visualizar los colores que están contenidos en ellas debes seleccionar dando clic, lo cual te mostrara todos los colores pertenecientes a la cartilla que seleccionaste.
     </article>
   </div>
   <div class="tutorial-gif" flex>
      <img src="/img/tuto/cartilla.gif" alt="" />

   </div>

 </div>
 <md-divider class="tutorial-divider"></md-divider>

 <div layout="row" layout-xs="column" layout-sm="column">

   <div class="tutorial-gif" flex>
     <br>
     <br>
      <img src="/img/tuto/colores-copiado.gif" alt="" />

   </div>
   <div class="tutorial-texto" flex>
     <h3>Fichas de Color</h3>
     <br>
     <article>
       Puedes seleccionar uno de los colores haciendo clic en el, lo cual te mostrará una ficha con toda la información correspondiente a este color, como el código, nombre, cartilla que pertenece y código hexadecimal.
     </article>
     <h3>Copiado de Información</h3>
     <br>
     <article class="">
       Una de las funciones más útiles de ColorFinder es la capacidad de poder copiar la información del color con tan solo dar un clic sobre el texto que esta en la ficha y automáticamente se copiará, posterior a esto podrás pegar dicha información en cualquier documento dentro de tu pc.

     </article>
   </div>

 </div>

 <md-divider class="tutorial-divider"></md-divider>

 <div  layout="row" layout-xs="column" layout-sm="column">
   <div class="tutorial-texto" flex>
     <h3>Favoritos</h3>
     <br>
     <article>
      Otra de las funciones más útiles de ColorFinder es el poder guardar los colores como favoritos. Para ello solo has clic sobre el icono de la estrella en la ficha del color que deseas guardar como favorito y listo. Ahora para verlo, ve al menú y en la opción de favoritos podrás ver los colores que marcaste y poder acceder a ellos desde allí.
     </article>
   </div>
   <div class="tutorial-gif" flex>
      <img src="/img/tuto/fav.gif" alt="" />

   </div>

 </div>

 <md-divider class="tutorial-divider"></md-divider>

 <div  layout="row" layout-xs="column" layout-sm="column">

   <div class="tutorial-gif" flex>
      <img src="/img/tuto/formula.gif" alt="" />

   </div>
   <div class="tutorial-texto" flex>
     <h3>Fórmulas</h3>
     <br>
     <article>
      Hay colores que tienen que ser preparados en entintadora a través de fórmulas de entintado, para ello ColorFinder cuenta con el registro de fórmulas para estos colores. Para verlas has  clic en el icono de la gotita la cual descubrirá una nueva sección en la ficha con información de la base y fórmulas que corresponde a cada línea de color según la presentación.
     </article>
   </div>

 </div>

 <md-divider class="tutorial-divider"></md-divider>

 <div  layout="row" layout-xs="column" layout-sm="column">


   <div class="tutorial-texto" flex>
     <h3>Búsqueda Personalizada</h3>
     <br>
     <article>
      Si deseas buscar un color por código o por el nombre, puedes realizar una búsqueda personalizada. Para ello haz clic en el icono de lupa que desplegara un panel que te mostrara dos opciones de búsqueda: Buscar por código o buscar por palabra. Selecciona una opción haciendo clic, luego ingresa  el termino de búsqueda y haz clic en buscar. Automáticamente te mostrara el color que buscaste o los colores relacionados si buscaste por palabra haciendo referencia a  un color.
     </article>
   </div>
   <div class="tutorial-gif" flex>
      <img src="/img/tuto/busqueda.gif" alt="" />

   </div>

 </div>
 <div layout="row" layout-align="center center">
   <div>
     <!-- <img src="/img/tuto/busqueda.gif" alt=""> -->
   </div>

 </div>


</div>
