html, body{
	background-color: #f3f3f3;
	margin: 0px;
}
.ribbon{
	background-color: black;
	height: 50px;
}
.login-box{
	background-color: white;
	margin: 20px 10px 20px 10px;
	padding:20px 10px 10px 10px;
	max-width: 400px;
	min-height: 300px;
}
.login-box p {
	color: blue;
	bottom: 0;

}

.login-form{
	display:table;
	-webkit-transform:translateY(-50%);
	position: relative;
	margin: 0 auto;
	top: 50%;
}

.logo-finder{
	height: 100px;
}
.logo-paleta{
	height: 70px;
}

footer{
	bottom: 0;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
}
