html, body{
	background-color: #f3f3f3 !important;
	margin: 0px;
}

.colorblack{
	background-color: black !important;
}
.ribbon{
	background-color: black;
	height: 56px;
}
.login-box{
	background-color: white;
	margin: 20px 10px 20px 10px;
	padding:10px 40px 0px 40px;
	max-width: 400px;
	min-height: 275px;
}
.login-box p {
	color: blue;
	bottom: 0;

}

.login-form{

}

.logo-finder{
	height: 110px;
}
.logo-paleta{
	height: 70px;
}
.menu-list{

	text-align: left !important;

}
.lineas{
	color: white;
	text-transform: none;
	text-align: left !important;
	height: 50px;
	padding-top: 20px;
	padding-bottom: 70px;
	font-size: 25px;
	background-color: red;


}
.ultra{
	background: #09a8e4 !important;

}
.plus{
	background: #77d03b !important;

}
.wall{
	background: #710092 !important;

}
.lineas md-icon{
	height: 50px !important;
	width: 50px !important;
	color: white;
	margin-left: 20px;
	margin-right: 20px;
}
.lineas:not([disabled]):hover{
    background-color: #888888 !important;
}
.menu-list md-icon{
	margin-right: 20px;
}

#footer{
	bottom: 0;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
}

#paleta{
	margin-top: 12px;
}

#paleta div{
	background: #ff6600;
	height: 75px;
	width: 75px;
	color: white;
	text-align: center;
	bottom: 0;
	vertical-align: text-bottom; !important;

}

#paleta div p{
	vertical-align: text-bottom; !important;
	margin-bottom: 0px;
}



.inputdemoIcons {
  /*
.right-icon {
  position: absolute;
  top: 4px;
  right: 2px;
  left: auto;
  margin-top: 0;
}
*/ }
  .inputdemoIcons .inputIconDemo {
    min-height: 48px; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
    color: dodgerblue; }
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.email,
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
    color: red; }






		.bottomSheetdemoBasicUsage .md-inline-list-icon-label {
		  display: inline-block;
		  padding-left: 10px;
		  padding-right: 10px;
		  margin-top: -10px;
		  height: 24px;
		  vertical-align: middle; }

		.bottomSheetdemoBasicUsage .md-grid-item-content {
		  height: 96px; }

		.bottomSheetdemoBasicUsage .md-grid-item-content md-icon {
		  height: 48px;
		  width: 48px; }

		.bottomSheetdemoBasicUsage .md-grid-text {
		  padding-bottom: 5px; }

		.bottomSheetdemoBasicUsage md-list-item, .bottomSheetdemoBasicUsage md-list-item .md-list-item-inner {
		  min-height: 48px; }

		.bottomSheetdemoBasicUsage h2 {
		  line-height: 36px;
		  padding-top: 10px; }

		.bottomSheetdemoBasicUsage .md-subheader .md-subheader-inner {
		  padding: 0px; }

		.bottomSheetdemoBasicUsage md-toast {
		  background-color: #B14141; }

		.bottomSheetdemoBasicUsage md-toast > * {
		  font-weight: bolder; }
