html, body{
	background-color: #f3f3f3 !important;
	margin: 0px;
}

.colorblack{
	background-color: black !important;
}
.ribbon{
	background-color: black;
	height: 56px;
}
.login-box{
	background-color: white;
	margin: 20px 10px 20px 10px;
	padding:10px 40px 0px 40px;
	max-width: 400px;
	min-height: 275px;
}
.login-box p {
	color: blue;
	bottom: 0;

}

.login-form{

}

.logo-finder{
	height: 110px;
}
.logo-paleta{
	height: 70px;
}
.menu-list{

	text-align: left !important;

}
.lineas{
	color: white;
	text-transform: none;
	text-align: left !important;
	height: 50px;
	padding-top: 20px;
	padding-bottom: 70px;
	font-size: 25px;
	background-color: red;


}
.ultra{
	background: #09a8e4 !important;

}
.plus{
	background: #77d03b !important;

}
.gloss{
	background: #710092 !important;

}
.lineas md-icon{
	height: 50px !important;
	width: 50px !important;
	color: white;
	margin-left: 20px;
	margin-right: 20px;
}
.lineas:not([disabled]):hover{
    background-color: #888888 !important;
}
.menu-list md-icon{
	margin-right: 20px;
}

#footer{
	bottom: 0;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
}


.inputdemoIcons {
  /*
.right-icon {
  position: absolute;
  top: 4px;
  right: 2px;
  left: auto;
  margin-top: 0;
}
*/ }
  .inputdemoIcons .inputIconDemo {
    min-height: 48px; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
    color: dodgerblue; }
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.email,
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
    color: red; }
