<md-card-actions style="color:white;" layout="column" layout-align="" ng-controller="capturaCtrl">

  <md-button href="/#/Domestic-Wall"  class="lineas wall md-whiteframe-5dp">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Domestic Wall
  </md-button>

  <md-button href="/#/Domestic-Plus"  class="lineas magic-book md-whiteframe-5dp">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Domestic Plus
  </md-button>

  <md-button href="/#/Domestic-Ultra"  class="lineas plus md-whiteframe-5dp">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Domestic Ultra
  </md-button>

  <md-button href="/#/Domestic-Gloss"  class="lineas ultra md-whiteframe-5dp">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Domestic Gloss
  </md-button>

  <md-button href="/#/Domestic-Enamel"  class="lineas enammel md-whiteframe-5dp">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Domestic Enamel</a>
  </md-button>

  <md-button href="/#/Standard"  class="lineas estandar md-whiteframe-5dp">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Standard</a>
  </md-button>

  <md-button href="/#/Royal"  class="lineas royal md-whiteframe-5dp">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Royal</a>
  </md-button>

  <md-button href="/#/Centro-Historico"  class="lineas historico md-whiteframe-5dp">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Centro Histórico</a>
  </md-button>
  <md-button href="/#/Antigua-Guatemala"  class="lineas antigua md-whiteframe-5dp">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Antigua Guatemala</a>
  </md-button>
  <md-button href="/#/Quetzaltenango"  class="lineas quetzal md-whiteframe-5dp">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Quetzaltenango</a>
  </md-button>
  <md-button href="/#/views/Magic-Book"  class="lineas magic-book md-whiteframe-5dp">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Magic Book
  </md-button>

  <md-button href="/#/views/Moods"  class="lineas moods md-whiteframe-5dp">
    <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>MOODS</a>
  </md-button>
  <md-button href="/#/views/1-Folio-Visions"   class="lineas folio md-whiteframe-5dp">
    <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>1-Folio-Visions</a>
  </md-button>
  <md-button href="/#/views/2-Folio-Inspiration"   class="lineas folio md-whiteframe-5dp">
    <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>2-Folio-Inspiration</a>
  </md-button>
  <md-button href="/#/views/3-Folio-Undertones"   class="lineas folio md-whiteframe-5dp">
    <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>3-Folio-Undertones</a>
  </md-button>
  <md-button href="/#/views/4-Folio-Shades"   class="lineas folio md-whiteframe-5dp">
    <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>4-Folio-Shades</a>
  </md-button>
  <md-button href="/#/views/5-Folio-Shadows"   class="lineas folio md-whiteframe-5dp">
    <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>5-Folio-Shadows</a>
  </md-button>
  <md-button href="/#/views/6-Folio-Neutrals"   class="lineas folio md-whiteframe-5dp">
    <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>6-Folio-Neutrals</a>
  </md-button>

</md-card-actions>
