<md-card-actions style="color:white;" layout="column" layout-align="">

  <md-button href="/#/DOMESTIC-WALL"  class="lineas wall md-whiteframe-5dp
">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Domestic Wall
  </md-button>

  <md-button href="/#/MAGIC-BOOK"  class="lineas magic-book md-whiteframe-5dp">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Magic Book
  </md-button>
  <md-button href="/#/DOMESTIC-PLUS"  class="lineas plus md-whiteframe-5dp">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Domestic Plus
  </md-button>

  <md-button href="/#/DOMESTIC-ULTRA"  class="lineas ultra md-whiteframe-5dp">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Domestic Ultra
  </md-button>

  <md-button href="/#/DOMESTIC-GLOSS"  class="lineas gloss md-whiteframe-5dp">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Domestic Gloss
  </md-button>

  <md-button href="/#/DOMESTIC-ENAMEL"  class="lineas enammel md-whiteframe-5dp">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Domestic Enamel</a>
  </md-button>

  <md-button href="/#/STANDARD"  class="lineas estandar md-whiteframe-5dp">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Standar</a>
  </md-button>

  <md-button href="/#/ROYAL"  class="lineas royal md-whiteframe-5dp">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Royal</a>
  </md-button>

  <md-button href="/#/CENTRO-HISTORICO"  class="lineas historico md-whiteframe-5dp">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Centro Historico</a>
  </md-button>
  <md-button href="/#/ANTIGUA-GUATEMALA"  class="lineas antigua md-whiteframe-5dp">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Antigua Guatemala</a>
  </md-button>
  <md-button href="/#/QUETZALTENANGO"  class="lineas quetzal md-whiteframe-5dp">
   <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Quetzaltenango</a>
  </md-button>

  <md-button href="/#/MOODS"  class="lineas moods md-whiteframe-5dp">
    <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Moods</a>
  </md-button>
  <md-button href="/#/1-FOLIO-VISIONS"  class="lineas moods md-whiteframe-5dp">
    <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>1-Folio-visions</a>
  </md-button>
  <md-button href="/#/MOODS"  class="lineas moods md-whiteframe-5dp">
    <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Moods</a>
  </md-button>
  <md-button href="/#/MOODS"  class="lineas moods md-whiteframe-5dp">
    <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Moods</a>
  </md-button>
  <md-button href="/#/MOODS"  class="lineas moods md-whiteframe-5dp">
    <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Moods</a>
  </md-button>
  <md-button href="/#/MOODS"  class="lineas moods md-whiteframe-5dp">
    <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Moods</a>
  </md-button>
  <md-button href="/#/MOODS"  class="lineas moods md-whiteframe-5dp">
    <md-icon md-svg-icon="img/icons/linea-icon.svg"></md-icon>Moods</a>
  </md-button>

</md-card-actions>
