
<md-bottom-sheet  layout="column"   class="md-grid selector"  ng-controller="MeCtrl"  ng-cloak>
  <div ng-controller="formCtrl">
  <div ng-controller="closeFicha">
    <md-button class="cerrarFicha" ng-click="close();datos.mensaje = false" aria-label="cerrar"><md-icon md-svg-icon="img/icons/close-ficha.svg"></md-icon></md-button>
<div ng-controller="loadCtrl">


  <div scroll="false" class="has-header" ng-if="showCircle" layout="row" layout-align="center center" flex>
    <md-progress-circular  md-mode="indeterminate" md-diameter="150"></md-progress-circular>
  </div>

  <div ng-show="showFicha" layout="row" layout-align="center center" data-ng-controller="copiadoCtrl">


    <div  class="fichaRoseta ficha" layout-align="center center" layout="row"  flex='35'>
      <md-button  ng-click="codigoCopiado()" ng-repeat="busqueda in unCodigo | limitTo: 1" class="circulo md-fab" style="background: #{{busqueda.hexadecimal}};" md-ripple-size><div id="cod" ngclipboard data-clipboard-target="#cod">{{busqueda.codigo}}</div></md-button>
    </div>
    <div class="fichaInfo ficha "   layout-align="center center"  flex="45">
      <div id="nombre" ng-repeat="busqueda in unCodigo  | limitTo: 1" ngclipboard data-clipboard-target="#nombre" ng-click="nombreCopiado()">{{busqueda.nombre}}</div>
      <div id="cart" ng-repeat="busqueda in unCodigo  | limitTo: 1" ngclipboard data-clipboard-target="#cart" ng-click="cartillaCopiada()">{{busqueda.cartilla}}</div>
      <div id="hexa" ng-repeat="busqueda in unCodigo | limitTo: 1" ngclipboard data-clipboard-target="#hexa" ng-click="colorCopiado()">#{{busqueda.hexadecimal}}</div>
    </div>

    <div class="fichaBotones ficha"   layout-align="center center" ng-controller="favCtrl"  flex='20'>
      <div ng-controller="favoriteCtrl" flex>
          <md-icon>
          <input ng-repeat="chip in unCodigo | limitTo: 1" type="checkbox" class=" glyphicon glyphicon-star-empty" name="{{chip.codigo}}" id="{{chip.codigo}}" ng-model="chip.checked" ng-checked="$storage[myDetails.data.username][chip.codigo]" ng-click="$storage[myDetails.data.username][chip.codigo] = chip.checked; $storage[myDetails.data.username + '-hex'][chip.hexadecimal] = chip.checked = chip.checked; colorFav()" style="cursor: pointer;">
         </md-icon>
      </div>

      <div flex>
        <input type="checkbox" class=" glyphicon glyphicon-tint" ng-model="datos.mensaje" style="cursor: pointer;">
      </div>
      <p style="font-size: 10px; margin-top: 5px;">Fórmula</p>

    </div>
  </div>
  <div ng-show="showFicha" ng-repeat="chip in unCodigo | limitTo: 1" style="margin-top: -15px; font-size: 12px;">
    {{chip.rgb}}<br>
    <p style="font-size: 10px;">Los colores son aproximados a los reales.</p>
  </div>


<formulas-ficha></formulas-ficha>


</div>

</div>
</md-bottom-sheet>
