
<md-bottom-sheet layout="column"  class="md-grid " ng-controller="cartillasController"  ng-cloak>
  <div layout="row" layout-align="center center">

    <div  class="fichaRoseta ficha" layout-align="center center" layout="row" flex>
      <md-button ng-repeat="chip in colores | limitTo: 1" class="circulo md-fab" md-ripple-size>{{chip.codigo}}</md-button>
    </div>
    <div class="fichaInfo ficha" layout-align="center center" flex>
      <div ng-repeat="chip in colores | limitTo: 1">{{chip.nombre}}</div>
      <div ng-repeat="chip in colores | limitTo: 1">{{chip.codigo}}</div>
      <div ng-repeat="chip in colores | limitTo: 1">{{chip.linea}}</div>

    </div>
    <div class="fichaBotones ficha"   layout-align="center center" flex>
      <div flex>
        <md-button class="md-icon-button " aria-label="More">
          <md-icon md-svg-icon="img/icons/compartir-icon.svg" md-ripple-size	></md-icon>
        </md-button>
      </div>
      <div flex>
        <md-button class="md-icon-button " aria-label="More">
          <md-icon md-svg-icon="img/icons/star-icon.svg" md-ripple-size	></md-icon>
        </md-button>
      </div>
      <div flex>
        <md-button class="md-icon-button " aria-label="More">
          <md-icon md-svg-icon="img/icons/formula-icon.svg" md-ripple-size	></md-icon>
        </md-button>
      </div>

    </div>
  </div>
</md-bottom-sheet>
