
	 <md-sidenav class="md-sidenav-right md-whiteframe-z2 nav-overflow" md-component-id="right" >
      <md-toolbar class="md-theme-light colorblack" ng-controller="RightCtrl">

					 <div class="md-toolbar-tools colorblack">
						<md-button ng-click="close()"  class="md-icon-button" aria-label="Settings">
							<md-icon md-svg-icon="img/icons/close-icon-right.svg"></md-icon>
		 			 </md-button>
					 <h2>
						 <span></span>
					 </h2>
					 <span flex></span>
					 <md-button  class="md-icon-button" aria-label="search">

					 </md-button>
					</div>
	   </md-toolbar>
	<div ng-controller="testController">
      <md-content ng-controller="RightCtrl" layout-padding layout-align="center center">
				<div >
					<form  role="form" ng-init="modelPalabra='codigo'"    ng-submit="getColor()">
						<label>
						<input type="radio"  ng-model="modelPalabra" value="codigo" checked>Código
					</label>
					<label>
						<input type="radio" ng-model="modelPalabra" value="palabra">Palabra
					</label><br>
						<md-input-container>
	            <label for="testInput">Buscar por {{modelPalabra}}</label>
							<input id="testInput" type="text"  ng-model="color_codigo" clearable/>
	          </md-input-container>
						<input class="btn btn-primary" type="submit" value="Buscar">


					</form>


					<div class="selector" style="margin-top: -20px;" ng-controller="capturaCtrl">
						<div ng-controller="BottomSheetExampleDos">


								<div layout="row" class="chip-busqueda md-whiteframe-1dp" ng-repeat=" busqueda in unColor " style="background: #{{busqueda.hexadecimal}}; cursor:pointer;" layout-align="center center" ng-click="setCodigo(capturame = busqueda.codigo); showListBottomSheetDos($event); close();codigoCopiado()">
									<span flex="40"></span>
										<div  layout="column" layout-aling="center center" id="r" ngclipboard data-clipboard-target="#r" flex="60">
											<div>{{ busqueda.nombre }}</div>
											<md-divider></md-divider>
											<div>{{ busqueda.codigo}}</div>
										</div>
								</div>
						</div>

					<!-- palabra -->


						</div>
					</div>
      </md-content>
		</div>
    </md-sidenav>
