<div ng-controller="AppCtrl">
<md-toolbar >
   <div class="md-toolbar-tools colorblack md-whiteframe-12dp">
     <md-button  ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings" >
       <md-icon md-svg-icon="img/icons/menu-icon.svg"></md-icon>
     </md-button>
     <img class="logo-paleta" src="img/icons/paletaLogo-icon.svg" > <img class="letras-paleta" src="/img/colores-en-paleta-05.svg"/>
      <span layout-align="end center" flex><img class="logo-paleta-movil" src="img/icons/paletaLogo-icon.svg" ></span>
     <md-button ng-click="toggleRight()" class="md-icon-button" aria-label="search" >
       <md-icon md-svg-icon="img/icons/search-icon.svg"></md-icon>
     </md-button>
   </div>
 </md-toolbar>
</div>
